html{
	background: url(stars.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1{
	color: white;
	text-align: center;
}

#links{
	align-items: center;
}

#instagram{
	display:inline-block;
}

#facebook{
	display:inline-block;
}
